



<!DOCTYPE html>
@using PhoneBookNJ.CustomHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>Add new note</h3>
       
        @Html.AddNoteForm()
    
   
    </div>
</body>
</html>
