@model IEnumerable<PhoneRepositoryLibSql.Note>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    @section head
    {
        <h2>
            This page created by Ivan Denisyuk (my head section)<h2>
    }

    <h3>Current list</h3>
    <table>
        <tr>
            <td><p>Surname</p></td>
            <td><p>Phone number</p></td>

        </tr>
        @if (ViewBag.Notes != null)
        {
            foreach (var b in Model)
            {
                @Html.Partial("ViewPart", (object)b)

            }
        }

    </table>
    <p><a href="/Dict/Add">Add new note</a></p>
</body>
</html>
