
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <h1>Here you can change selected note</h1>
    <div>
        <form method="post" action="~/Dict/UpdateSave">
            <input type="hidden" value="@ViewBag.noteId" name="id" />
            <br />
            <p>enter new name</p>
            <input type="text" name="surname" />
            <br />
            <p>enter new phone number</p>
            <input type="text" name="phoneNumber" />
            <br><br />
            <input type="submit" value="go" />
        </form>
    </div>


</body>
</html>
