<tr>
    <td><p>@Model.Surname</p></td>
    <td><p>@Model.PhoneNumber</p></td>
    <td><p><a href="/Dict/Update/@Model.Id">Update</a></p></td>
    <td><p><a href="/Dict/Delete/@Model.Id">Delete</a></p></td>
</tr>